In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('nyc_yellow_taxi_data.csv')

In [3]:
data.head(10)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,PULocationID,DOLocationID,fare_amount
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,238,239,6.0
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,239,238,7.0
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,238,238,6.0
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,238,151,5.5
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,193,193,3.5
5,2.0,2020-01-01 00:09:44,2020-01-01 00:10:37,1.0,7,193,2.5
6,2.0,2020-01-01 00:39:25,2020-01-01 00:39:29,1.0,193,193,2.5
7,1.0,2020-01-01 00:29:01,2020-01-01 00:40:28,2.0,246,48,8.0
8,1.0,2020-01-01 00:55:11,2020-01-01 01:12:03,2.0,246,79,12.0
9,1.0,2020-01-01 00:37:15,2020-01-01 00:51:41,1.0,163,161,9.5

In [54]:
data['fare_amount'].mean()

13.02977364806841

In [48]:
data.count()

VendorID                 1227632
tpep_pickup_datetime     1243241
tpep_dropoff_datetime    1243241
passenger_count          1227632
PULocationID             1243241
DOLocationID             1243241
fare_amount              1243241
weekday                  1243241
day                      1243241
month                    1243241
dtype: int64

In [4]:
data.dtypes

VendorID                 float64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count          float64
PULocationID               int64
DOLocationID               int64
fare_amount              float64
dtype: object

In [7]:
data.isnull().sum()

VendorID                 15609
tpep_pickup_datetime         0
tpep_dropoff_datetime        0
passenger_count          15609
PULocationID                 0
DOLocationID                 0
fare_amount                  0
dtype: int64

In [8]:
data.describe()

           VendorID  passenger_count  PULocationID  DOLocationID   fare_amount
count  1.227632e+06     1.227632e+06  1.243241e+06  1.243241e+06  1.243241e+06
mean   1.676771e+00     1.568692e+00  1.627453e+02  1.607467e+02  1.302977e+01
std    4.677094e-01     1.181809e+00  6.610786e+01  7.098176e+01  1.293962e+01
min    1.000000e+00     0.000000e+00  1.000000e+00  1.000000e+00 -1.238000e+03
25%    1.000000e+00     1.000000e+00  1.250000e+02  1.070000e+02  6.000000e+00
50%    2.000000e+00     1.000000e+00  1.610000e+02  1.620000e+02  9.000000e+00
75%    2.000000e+00     2.000000e+00  2.330000e+02  2.330000e+02  1.400000e+01
max    2.000000e+00     9.000000e+00  2.650000e+02  2.650000e+02  1.238000e+03

In [14]:
data['PULocationID'].value_counts()

132    53790
237    52055
161    49558
236    48450
186    44809
       ...
206        1
245        1
111        1
30         1
2          1
Name: PULocationID, Length: 255, dtype: int64

In [15]:
data['DOLocationID'].value_counts()

236    52377
237    46683
161    44751
230    39926
170    36256
       ...
187        7
204        7
99         3
2          3
104        1
Name: DOLocationID, Length: 261, dtype: int64

In [16]:
data['tpep_pickup_datetime'] = pd.to_datetime(data.tpep_pickup_datetime)

In [17]:
data['tpep_dropoff_datetime'] = pd.to_datetime(data.tpep_dropoff_datetime)

In [18]:
data.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,PULocationID,DOLocationID,fare_amount
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,238,239,6.0
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,239,238,7.0
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,238,238,6.0
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,238,151,5.5
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,193,193,3.5

In [20]:
data['weekday'] = data.tpep_pickup_datetime.dt.day_name()

In [22]:
data['day'] = data.tpep_pickup_datetime.dt.day

In [23]:
data['month'] = data.tpep_pickup_datetime.dt.month

In [24]:
data.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,PULocationID,DOLocationID,fare_amount,weekday,day,month
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,238,239,6.0,Wednesday,1,1
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,239,238,7.0,Wednesday,1,1
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,238,238,6.0,Wednesday,1,1
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,238,151,5.5,Wednesday,1,1
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,193,193,3.5,Wednesday,1,1

In [53]:
data['fare_amount'].mean()

13.02977364806841

In [25]:
data.weekday.value_counts()

Tuesday      201520
Friday       183477
Saturday     182752
Monday       179515
Wednesday    169437
Sunday       164399
Thursday     162141
Name: weekday, dtype: int64

In [26]:
data.day.value_counts()

7    201520
3    183477
4    182752
6    179515
1    169437
5    164399
2    162141
Name: day, dtype: int64

In [55]:
new_df = data[(data['VendorID'] == 2.0) | (data['fare_amount'] < 13.02977364806841) | (data['passenger_count'] > 5.0)]

In [56]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1127018 entries, 0 to 1243132
Data columns (total 10 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   VendorID               1126671 non-null  float64
 1   tpep_pickup_datetime   1127018 non-null  datetime64[ns]
 2   tpep_dropoff_datetime  1127018 non-null  datetime64[ns]
 3   passenger_count        1126671 non-null  float64
 4   PULocationID           1127018 non-null  int64
 5   DOLocationID           1127018 non-null  int64
 6   fare_amount            1127018 non-null  float64
 7   weekday                1127018 non-null  object
 8   day                    1127018 non-null  int64
 9   month                  1127018 non-null  int64
dtypes: datetime64[ns](2), float64(3), int64(4), object(1)
memory usage: 94.6+ MB

In [60]:
new_df.describe()

,VendorID,passenger_count,PULocationID,DOLocationID,fare_amount,day,month
count,1.126671e+06,1.126671e+06,1.127018e+06,1.127018e+06,1.127018e+06,1.127018e+06,1127018.0
mean,1.737417e+00,1.586947e+00,1.639524e+02,1.623031e+02,1.154623e+01,4.086615e+00,1.0
std,4.400381e-01,1.206960e+00,6.605309e+01,7.022369e+01,1.167920e+01,2.009439e+00,0.0
min,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,-1.238000e+03,1.000000e+00,1.0
25%,1.000000e+00,1.000000e+00,1.250000e+02,1.130000e+02,6.000000e+00,2.000000e+00,1.0
50%,2.000000e+00,1.000000e+00,1.620000e+02,1.620000e+02,8.500000e+00,4.000000e+00,1.0
75%,2.000000e+00,2.000000e+00,2.340000e+02,2.340000e+02,1.200000e+01,6.000000e+00,1.0
max,2.000000e+00,9.000000e+00,2.650000e+02,2.650000e+02,1.238000e+03,7.000000e+00,1.0

In [58]:
new_df.count()

VendorID                 1126671
tpep_pickup_datetime     1127018
tpep_dropoff_datetime    1127018
passenger_count          1126671
PULocationID             1127018
DOLocationID             1127018
fare_amount              1127018
weekday                  1127018
day                      1127018
month                    1127018
dtype: int64

In [59]:
new_df.isnull().sum()

VendorID                 347
tpep_pickup_datetime       0
tpep_dropoff_datetime      0
passenger_count          347
PULocationID               0
DOLocationID               0
fare_amount                0
weekday                    0
day                        0
month                      0
dtype: int64

In [61]:
new_df['weekday'].value_counts()

Tuesday      181640
Saturday     167991
Friday       167014
Monday       160945
Wednesday    153146
Sunday       149941
Thursday     146341
Name: weekday, dtype: int64

In [63]:
new_df['fare_amount'].median()

8.5

In [64]:
new_df['fare_amount'].mean()

11.546234070795643

In [65]:
data['passenger_count'].mode()

0    1.0
dtype: float64

In [78]:
data['passenger_count'].median()

1.0

In [79]:
data['passenger_count'].fillna(data['passenger_count'].mode())

0          1.0
1          1.0
2          1.0
3          1.0
4          1.0
          ...
1243236    1.0
1243237    1.0
1243238    1.0
1243239    1.0
1243240    1.0
Name: passenger_count, Length: 1243241, dtype: float64

In [80]:
data['passenger_count'].median()

1.0

In [81]:
data['passenger_count'].fillna(data['passenger_count'].median())

0          1.0
1          1.0
2          1.0
3          1.0
4          1.0
          ...
1243236    1.0
1243237    1.0
1243238    1.0
1243239    1.0
1243240    1.0
Name: passenger_count, Length: 1243241, dtype: float64

In [82]:
data['passenger_count'].median()

1.0